{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"methods/_edn.cljk" ".cljc"
  "methods/_land_ss_gated_wip.cljk" ".cljs"
  "methods/analyze.cljk" ".cljc"
  "methods/compute_murakumo_produce_plan.cljk" ".cljc"
  "methods/compute_murakumo_receive.cljk" ".cljc"
  "methods/displacement_gov.cljk" ".cljc"
  "methods/displacement_l0_path.cljk" ".cljc"
  "methods/displacement_pipeline.cljk" ".cljc"
  "methods/displacement_scorecard.cljk" ".cljc"
  "methods/displacement_tenure.cljk" ".cljc"
  "methods/edn.cljk" ".cljc"
  "methods/init.clj.cljk" ".clj"
  "methods/init.cljc.cljk" ".cljc"
  "methods/itonami_bridge.cljk" ".cljc"
  "methods/itonami_surplus_ledger.cljk" ".cljc"
  "methods/l0_enroll.cljk" ".cljc"
  "methods/liquidity_warifu_receive.cljk" ".cljc"
  "methods/pages_deploy.cljk" ".cljc"
  "methods/pages_publish.cljk" ".cljc"
  "methods/pipeline_audit_ledger.cljk" ".cljc"
  "methods/priority_stack.cljk" ".cljc"
  "methods/priority_stack_smoke.cljk" ".cljs"
  "methods/provision.cljk" ".cljc"
  "methods/public_surface_report.cljk" ".cljc"
  "methods/publish.cljk" ".cljs"
  "methods/r2_execute.cljk" ".cljc"
  "methods/rail_care_iyashi.cljk" ".cljc"
  "methods/rail_compute_murakumo.cljk" ".cljc"
  "methods/rail_hikari.cljk" ".cljc"
  "methods/rail_housing_commons.cljk" ".cljc"
  "methods/rail_liquidity_warifu.cljk" ".cljc"
  "methods/rail_mitsuho.cljk" ".cljc"
  "methods/rail_tooling_okaimono.cljk" ".cljc"
  "methods/readiness_check.cljk" ".cljs"
  "methods/ss_offline_path.cljk" ".cljc"
  "methods/test_analyze.cljk" ".cljc"
  "methods/test_charter_invariants.cljk" ".cljc"
  "methods/test_compute_murakumo_produce_plan.cljk" ".cljc"
  "methods/test_compute_murakumo_receive.cljk" ".cljc"
  "methods/test_consistency.cljk" ".cljc"
  "methods/test_disclosure_hold.cljk" ".cljc"
  "methods/test_displacement_gov.cljk" ".cljc"
  "methods/test_displacement_l0_path.cljk" ".cljc"
  "methods/test_displacement_pipeline.cljk" ".cljc"
  "methods/test_displacement_scorecard.cljk" ".cljc"
  "methods/test_displacement_surface.cljk" ".cljc"
  "methods/test_displacement_tenure.cljk" ".cljc"
  "methods/test_itonami_bridge.cljk" ".cljc"
  "methods/test_itonami_surplus_ledger.cljk" ".cljc"
  "methods/test_l0_enroll.cljk" ".cljc"
  "methods/test_lexicons.cljk" ".cljc"
  "methods/test_liquidity_warifu_receive.cljk" ".cljc"
  "methods/test_pages_deploy.cljk" ".cljc"
  "methods/test_pages_publish.cljk" ".cljc"
  "methods/test_pipeline_audit_ledger.cljk" ".cljc"
  "methods/test_priority_stack.cljk" ".cljc"
  "methods/test_public_person.cljk" ".cljc"
  "methods/test_public_surface_report.cljk" ".cljc"
  "methods/test_rail_care_iyashi.cljk" ".cljc"
  "methods/test_rail_compute_murakumo.cljk" ".cljc"
  "methods/test_rail_hikari.cljk" ".cljc"
  "methods/test_rail_housing_commons.cljk" ".cljc"
  "methods/test_rail_liquidity_warifu.cljk" ".cljc"
  "methods/test_rail_mitsuho.cljk" ".cljc"
  "methods/test_rail_tooling_okaimono.cljk" ".cljc"
  "methods/test_ss_offline_path.cljk" ".cljc"
  "methods/test_tooling_okaimono_produce_plan.cljk" ".cljc"
  "methods/test_tooling_okaimono_receive.cljk" ".cljc"
  "methods/tooling_okaimono_produce_plan.cljk" ".cljc"
  "methods/tooling_okaimono_receive.cljk" ".cljc"
  "methods/write_all.cljk" ".cljs"
  "run_tests.clj.cljk" ".clj"
  "run_tests.cljs.cljk" ".cljs"
  "src/fuchi/cells/allocation_compute/state_machine.cljk" ".cljc"
  "src/fuchi/cells/covenant_intake/state_machine.cljk" ".cljc"
  "src/fuchi/cells/governance_gate/state_machine.cljk" ".cljc"
  "src/fuchi/cells/need_assessment/state_machine.cljk" ".cljc"
  "src/fuchi/cells/routing_dispatch/state_machine.cljk" ".cljc"
  "src/fuchi/methods/_edn.cljk" ".cljc"
  "src/fuchi/methods/allocate.cljk" ".cljc"
  "src/fuchi/methods/analyze.cljk" ".cljc"
  "src/fuchi/methods/book.cljk" ".cljc"
  "src/fuchi/methods/care_iyashi_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/care_iyashi_receive.cljk" ".cljc"
  "src/fuchi/methods/compute_murakumo_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/compute_murakumo_receive.cljk" ".cljc"
  "src/fuchi/methods/couple.cljk" ".cljc"
  "src/fuchi/methods/disclosure_continuity.cljk" ".cljc"
  "src/fuchi/methods/disclosure_hold.cljk" ".cljc"
  "src/fuchi/methods/displacement_book.cljk" ".cljc"
  "src/fuchi/methods/displacement_couple.cljk" ".cljc"
  "src/fuchi/methods/displacement_gov.cljk" ".cljc"
  "src/fuchi/methods/displacement_l0_path.cljk" ".cljc"
  "src/fuchi/methods/displacement_pipeline.cljk" ".cljc"
  "src/fuchi/methods/displacement_scorecard.cljk" ".cljc"
  "src/fuchi/methods/displacement_surface.cljk" ".cljc"
  "src/fuchi/methods/displacement_tenure.cljk" ".cljc"
  "src/fuchi/methods/edn.cljk" ".cljc"
  "src/fuchi/methods/hikari_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/hikari_receive.cljk" ".cljc"
  "src/fuchi/methods/housing_commons_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/housing_commons_receive.cljk" ".cljc"
  "src/fuchi/methods/init.cljk" ".cljc"
  "src/fuchi/methods/itonami_bridge.cljk" ".cljc"
  "src/fuchi/methods/itonami_surplus_ledger.cljk" ".cljc"
  "src/fuchi/methods/l0_enroll.cljk" ".cljc"
  "src/fuchi/methods/liberation_ladder.cljk" ".cljc"
  "src/fuchi/methods/liquidity_warifu_receive.cljk" ".cljc"
  "src/fuchi/methods/live_gate.cljk" ".cljc"
  "src/fuchi/methods/mitsuho_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/mitsuho_receive.cljk" ".cljc"
  "src/fuchi/methods/pages_deploy.cljk" ".cljc"
  "src/fuchi/methods/pages_publish.cljk" ".cljc"
  "src/fuchi/methods/pipeline_audit_ledger.cljk" ".cljc"
  "src/fuchi/methods/provision.cljk" ".cljc"
  "src/fuchi/methods/public_person.cljk" ".cljc"
  "src/fuchi/methods/public_surface_report.cljk" ".cljc"
  "src/fuchi/methods/r2_execute.cljk" ".cljc"
  "src/fuchi/methods/rail_care_iyashi.cljk" ".cljc"
  "src/fuchi/methods/rail_compute_murakumo.cljk" ".cljc"
  "src/fuchi/methods/rail_hikari.cljk" ".cljc"
  "src/fuchi/methods/rail_housing_commons.cljk" ".cljc"
  "src/fuchi/methods/rail_liquidity_warifu.cljk" ".cljc"
  "src/fuchi/methods/rail_mitsuho.cljk" ".cljc"
  "src/fuchi/methods/rail_tooling_okaimono.cljk" ".cljc"
  "src/fuchi/methods/route.cljk" ".cljc"
  "src/fuchi/methods/social.cljk" ".cljc"
  "src/fuchi/methods/ss_offline_path.cljk" ".cljc"
  "src/fuchi/methods/stage_sustenance.cljk" ".cljc"
  "src/fuchi/methods/tooling_okaimono_produce_plan.cljk" ".cljc"
  "src/fuchi/methods/tooling_okaimono_receive.cljk" ".cljc"
  "src/fuchi/methods/vote.cljk" ".cljc"
  "src/fuchi/murakumo.cljk" ".cljc"
  "test/fuchi/cells/test_state_machine.cljk" ".cljc"
  "test/fuchi/methods/consistency_test.cljk" ".cljc"
  "test/fuchi/methods/social_test.cljk" ".clj"
  "test/fuchi/methods/test_allocate.cljk" ".cljc"
  "test/fuchi/methods/test_analyze.cljk" ".cljc"
  "test/fuchi/methods/test_book.cljk" ".cljc"
  "test/fuchi/methods/test_care_iyashi_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_care_iyashi_receive.cljk" ".cljc"
  "test/fuchi/methods/test_charter_invariants.cljk" ".cljc"
  "test/fuchi/methods/test_compute_murakumo_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_compute_murakumo_receive.cljk" ".cljc"
  "test/fuchi/methods/test_consistency.cljk" ".cljc"
  "test/fuchi/methods/test_couple.cljk" ".cljc"
  "test/fuchi/methods/test_disclosure_continuity.cljk" ".cljc"
  "test/fuchi/methods/test_disclosure_hold.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_book.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_couple.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_gov.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_l0_path.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_pipeline.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_scorecard.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_surface.cljk" ".cljc"
  "test/fuchi/methods/test_displacement_tenure.cljk" ".cljc"
  "test/fuchi/methods/test_hikari_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_hikari_receive.cljk" ".cljc"
  "test/fuchi/methods/test_housing_commons_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_housing_commons_receive.cljk" ".cljc"
  "test/fuchi/methods/test_itonami_bridge.cljk" ".cljc"
  "test/fuchi/methods/test_itonami_surplus_ledger.cljk" ".cljc"
  "test/fuchi/methods/test_l0_enroll.cljk" ".cljc"
  "test/fuchi/methods/test_lexicons.cljk" ".cljc"
  "test/fuchi/methods/test_liberation_ladder.cljk" ".cljc"
  "test/fuchi/methods/test_liquidity_warifu_receive.cljk" ".cljc"
  "test/fuchi/methods/test_live_gate.cljk" ".cljc"
  "test/fuchi/methods/test_mitsuho_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_mitsuho_receive.cljk" ".cljc"
  "test/fuchi/methods/test_pages_deploy.cljk" ".cljc"
  "test/fuchi/methods/test_pages_publish.cljk" ".cljc"
  "test/fuchi/methods/test_pipeline_audit_ledger.cljk" ".cljc"
  "test/fuchi/methods/test_provision.cljk" ".cljc"
  "test/fuchi/methods/test_public_person.cljk" ".cljc"
  "test/fuchi/methods/test_public_surface_report.cljk" ".cljc"
  "test/fuchi/methods/test_r2_execute.cljk" ".cljc"
  "test/fuchi/methods/test_rail_care_iyashi.cljk" ".cljc"
  "test/fuchi/methods/test_rail_compute_murakumo.cljk" ".cljc"
  "test/fuchi/methods/test_rail_hikari.cljk" ".cljc"
  "test/fuchi/methods/test_rail_housing_commons.cljk" ".cljc"
  "test/fuchi/methods/test_rail_liquidity_warifu.cljk" ".cljc"
  "test/fuchi/methods/test_rail_mitsuho.cljk" ".cljc"
  "test/fuchi/methods/test_rail_tooling_okaimono.cljk" ".cljc"
  "test/fuchi/methods/test_route.cljk" ".cljc"
  "test/fuchi/methods/test_ss_offline_path.cljk" ".cljc"
  "test/fuchi/methods/test_stage_sustenance.cljk" ".cljc"
  "test/fuchi/methods/test_tooling_okaimono_produce_plan.cljk" ".cljc"
  "test/fuchi/methods/test_tooling_okaimono_receive.cljk" ".cljc"
  "test/fuchi/methods/test_vote.cljk" ".cljc"
  "test/fuchi/murakumo_test.cljk" ".cljc"}}
